<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title><%= title %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./header'); %>
    <%- include('./error_messages'); %>
    <form class="m-3" action="/signin" method="post">
        <label class="m-1">ユーザ名</label>
        <input class="m-1" required type="text" name="username"/>
        <br>
        <label class="m-1" >パスワード</label>
        <input class="m-1" required type="password" name="password"/>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign in"/>
    </form>
    <p class="m-3">if you don't have account, <a href="/signup">Sign up now!</a></p>
</body>
</html>